*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;

}

#menu-horizotal ul{
    text-align: center;
    list-style: none;
    padding: 0;
    background-color: #000000;
   
}

#menu-horizotal ul li{
    display: inline;
   
    
}

#menu-horizotal ul li a{
    padding: 20px;
    display: inline-block;
    color: #ADFF2F;
    text-decoration: none;
    transition:background .6s;
   
}   
#menu-horizotal ul li a:hover{
    color: #000000;
    background-color: #ADFF2F;

}   

#menu-horizotal ul li:last-child a{
    float: right;
    padding: 20px;
}
  